/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

:root {
  /* Color */
  --dark-color: #00232e;
  --text-title-color: #18544e;
  --text-body-color: #2f655f;
  --text-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: var(--text-title-color);
}
/* REUSEABLE CLASS */
.section-title {
  color: var(--text-title-color);
}
p.section-text {
  color: var(--text-body-color);
}

button.button {
  padding: 15px 20px;
  background-color: var(--dark-color);
  color: var(--text-white);
  border: none;
}
.link-detail {
  width: 100px;
  height: 50px;
  background-color: var(--dark-color);
  color: white;
  text-decoration: none;
  padding: 10px 30px;
}
.max-w-lg {
  max-width: 968px;
  margin: 0 1rem;
}
/* --------------------------------- */

.navbar {
  transition: background-color 0.5s ease;
}

.navbar.scrolled {
  background-color: var(--dark-color) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* NAVBAR SM */
nav a.navbar-brand img.nav-logo {
  width: 80px;
}

/* CAROUSEL SM */
.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 750px;
  filter: brightness(50%);
}
.carousel-caption h1.carousel-header {
  font-size: 1.5rem;
}

/* DESC SM */
.img-overlay {
  overflow: hidden;
}
.desc-img1 {
  width: 150px;
  height: 200px;
  object-fit: cover;
}
.desc-img2 {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.desc-img1,
.desc-img2 {
  transition: 0.3s;
}
.desc-img1:hover,
.desc-img2:hover {
  transform: scale(1.1);
}

/* DISCOVER SM */
.discover__card {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
}
.discover__data {
  margin: 5px;
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}
.discover__title {
  font-size: 1rem;
}
.discover__description {
  display: block;
  font-size: 0.5rem;
}
.discover__img:hover {
  transform: scale(1.1);
  filter: brightness(100%);
}
img.discover__img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  transition: 0.3s;
  filter: brightness(60%);
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

/* EXP SM */
.img-overlay {
  overflow: hidden;
}
.img-overlay img.exp-img-1 {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.img-overlay img.exp-img-2 {
  width: 150px;
  height: 250px;
  object-fit: cover;
}

.img2-frame {
  top: 50px;
  right: 0;
}

img.exp-img-1,
img.exp-img-2 {
  transition: 0.3s;
}
img.exp-img-1:hover,
img.exp-img-2:hover {
  transform: scale(1.1);
}
.exp-img-container {
  max-width: 400px;
}

/* PLAN SM */
.plan-card .card img {
  height: 400px;
  object-fit: cover;
  filter: brightness(75%);
  transition: 0.3s;
}
.plan-card {
  overflow: hidden;
}
.plan-card:hover img {
  transform: scale(1.1);
}
.plan-container {
  grid-template-columns: repeat(3, max-content);
}
#journey-plan {
  margin-top: 100px;
}

/* CONTACT SM */
.contact-section {
  background-color: var(--dark-color);
}
img.contact-img {
  width: inherit;
}

/* ==================== MEDIA QUERY ==================== */
/* MEDIUM DEVICE */
@media (min-width: 768px) {
  /* body {
        background-color: lightblue;
    } */
  /* NAVBAR MD*/
  nav a.navbar-brand img.nav-logo {
    width: 100px;
  }
  /* CAROUSEL MD */
  .carousel-item img {
    height: 800px;
  }
  .carousel-caption h1.carousel-header {
    font-size: 2rem;
  }
  /* DESC MD */
  .desc-img1 {
    width: 150px;
    height: 250px;
  }
  .desc-img2 {
    width: 200px;
    height: 380px;
  }
  /* DISCOVER MD */
  .discover__container {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .discover__card {
    width: 250px;
    height: 400px;
  }
  img.discover__img {
    width: 250px;
    height: 400px;
  }
  .discover__title {
    font-size: 1.5rem;
  }
  .discover__description {
    display: block;
    font-size: 0.75rem;
  }
  /* EXP MD */
  .exp-img-container {
    max-width: 600px;
  }
  .img-overlay img.exp-img-1 {
    width: 500px;
    height: 350px;
  }
  .img-overlay img.exp-img-2 {
    width: 250px;
    height: 400px;
  }
  .img2-frame {
    top: 100px;
    right: 0;
  }
  /* PLAN MD */
  #journey-plan {
    margin-top: 150px;
  }
  /* CONTACT MD */
  img.contact-img {
    width: 325px;
  }
}

/* LARGE DEVICE */
@media (min-width: 992px) {
  /* body {
        background-color: rgb(255, 191, 207);
    } */
  /* DESC LG */
  .desc-img1 {
    width: 250px;
    height: 350px;
  }
  .desc-img2 {
    width: 300px;
    height: 480px;
  }
  /* DISCOVER LG */
  .discover__container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .discover__card {
    width: 300px;
    height: 500px;
  }
  img.discover__img {
    width: 300px;
    height: 500px;
  }
  .discover__title {
    font-size: 1.5rem;
  }
  .discover__description {
    display: block;
    font-size: 0.75rem;
  }
  /* EXP LG */
  .exp-img-container {
    max-width: 700px;
  }
  .img-overlay img.exp-img-1 {
    width: 600px;
    height: 350px;
  }
  .img-overlay img.exp-img-2 {
    width: 300px;
    height: 475px;
    object-fit: cover;
  }
  .img2-frame {
    top: 100px;
    right: 0;
  }
  /* PLAN LG */
  #journey-plan {
    margin-top: 250px;
  }
  /* CONTACT LG */
  img.contact-img {
    width: 450px;
  }
}

/* EXTRA LARGE DEVICE */
@media (min-width: 1400px) {
  /* CONTACT XL */
  img.contact-img {
    width: 600px;
  }
}
